<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zwmstudent</display-name>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>   
  <filter-name>SetCharacterEncoding</filter-name>
  <filter-class>   
	org.springframework.web.filter.CharacterEncodingFilter
  </filter-class>   
  <init-param>   
  <param-name>encoding</param-name>   
  <param-value>UTF-8</param-value>   
  </init-param>   
	<init-param>   
  		<param-name>forceEncoding</param-name>   
  		<param-value>true</param-value>   
  	</init-param>   
  </filter>   
  <filter-mapping>   
	<filter-name>SetCharacterEncoding</filter-name>   
	<url-pattern>/*</url-pattern>   
  	<dispatcher>REQUEST</dispatcher>    
  	<dispatcher>FORWARD</dispatcher>    
  	<dispatcher>INCLUDE</dispatcher>   
  </filter-mapping>   
  <filter-mapping>   
  	<filter-name>SetCharacterEncoding</filter-name>   
  	<url-pattern>*.jsp</url-pattern>   
  </filter-mapping>
    <filter>
  	<description>登录过滤</description>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>zwm.Login.LoginFilter.LoginFilter</filter-class>
  </filter>  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>zwm.Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CpachaServlet</display-name>
    <servlet-name>CpachaServlet</servlet-name>
    <servlet-class>zwm.Login.Captcha.CpachaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpachaServlet</servlet-name>
    <url-pattern>/CpachaServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/SystemServlet</url-pattern>
  	<url-pattern>/StudentServlet</url-pattern>
  	<url-pattern>/TeacherServlet</url-pattern>
  	<url-pattern>/ClazzServlet</url-pattern>
  	<url-pattern>/CourseServlet</url-pattern>
  	<url-pattern>/SelectedCourseServlet</url-pattern>
  	<url-pattern>/TeachCourseServlet</url-pattern>
  	<url-pattern>/PhotoServlet</url-pattern>
  	<url-pattern>/SearchServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>zwm.Student.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>zwm.Teacher.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClazzServlet</display-name>
    <servlet-name>ClazzServlet</servlet-name>
    <servlet-class>zwm.Clazz.ClazzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClazzServlet</servlet-name>
    <url-pattern>/ClazzServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>zwm.Course.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>zwm.Login.LoginSuccess.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseSeverlet</display-name>
    <servlet-name>CourseSeverlet</servlet-name>
    <servlet-class>zwm.Course.CourseSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSeverlet</servlet-name>
    <url-pattern>/CourseSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachCourseServlet</display-name>
    <servlet-name>TeachCourseServlet</servlet-name>
    <servlet-class>zwm.TeachCourse.TeachCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachCourseServlet</servlet-name>
    <url-pattern>/TeachCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedCourseServlet</display-name>
    <servlet-name>SelectedCourseServlet</servlet-name>
    <servlet-class>zwm.SelectedCourse.SelectedCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedCourseServlet</servlet-name>
    <url-pattern>/SelectedCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>zwm.Photo.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>zwm.Search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>